@use 'settings/variables' as vars;
@use 'settings/mixins' as mixins;

@use 'modules/main-box';
@use 'modules/history';

body {
    display: flex;
    justify-content: center;
    background: vars.$main-bg-color;
    margin: 0;
    padding-top: 5rem;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }
}