@use "sass:color";

@import "settings/variables";
@import "settings/mixins";

body {
    display: flex;
    justify-content: center;
    background: $main-bg-color;
    margin: 0;
    padding-top: 5rem;
}

.box {
    width: 60%;
    background: $second-bg-color;
    border: 10px solid white;
    border-radius: 50px;
    box-shadow: 0px 0px 24px rgba(3, 7, 18, 0.20);
    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-color;
        border-radius: 40px 40px 0 0;
        padding: 1rem;
        gap: 2rem;
    }
    &__image {
        width: 4rem; height: 4rem;
    }
    &__title {
        font-family: $title-font;
        font-size: 32px;
        color: white;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    &__label {
        width: 30rem;
        padding-bottom: 1rem;
        @include text-style;
        text-align: left;
        appearance: textfield;
        -webkit-appearance: none;
    }
    &__container {
        width: 30rem;
    }
    &__input {
        width: 20rem;
        @include text-style;
        text-align: center;
        border: 3px solid $primary-color;
        &--error {
            color: white;
            background: $secondary-color;
            border-color: $secondary-color-darker;
        }
    }
    &__button {
        position: relative;
        bottom: 3px;
        width: 9rem;
        @include text-style;
        cursor: pointer;
        &--check {
            @include button-color($first-btn-color, $first-btn-darker);
        }
        &--replay {
            @include button-color($second-btn-color, $second-btn-darker);
        }
        &:active {
            transform: translateY(4px);
            box-shadow: none;
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 20rem; height: 8rem;
        padding: 1.5rem;
        box-sizing: border-box;
        font-family: $main-font;
        @include clue-style(24px, $second-btn-color);
        margin: 2.5rem 0;
        &--clue {
            @include clue-style(36px, $secondary-color);
        }
        &--won {
            @include clue-style(28px, $first-btn-color);
        }
    }
    &__credit {
        position: relative;
        left: 3.5rem; bottom: 0.5rem;
        font-family: $main-font;
        font-size: 12px;
        color: black;
    }
}