@use "sass:color";

$primary-color: #0091AD;
$secondary-color: #FC5130;

$main-bg-color: #F7F5FB;
$second-bg-color: #ADF5FF;

$first-btn-color: #7DC95E;
$first-btn-darker: color.adjust($first-btn-color, $lightness: -20%);
$second-btn-color: #772D8B;
$second-btn-darker: color.adjust($second-btn-color, $lightness: -20%);

$title-font: 'Press Start 2P';
$main-font: 'Goldman';

@mixin text-style {
    font-family: $main-font;
    font-size: 24px;
}

body {
    display: flex;
    justify-content: center;
    background: $main-bg-color;
    margin: 0;
    padding-top: 5rem;
}

.box {
    width: 60%;
    background: $second-bg-color;
    border: 10px solid white;
    border-radius: 50px;
    box-shadow: 0px 0px 24px rgba(3, 7, 18, 0.20);
    &__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-color;
        border-radius: 40px 40px 0 0;
        padding: 1rem;
        gap: 2rem;
    }
    &__image {
        width: 4rem; height: 4rem;
    }
    &__title {
        font-family: $title-font;
        font-size: 32px;
        color: white;
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }
    &__label {
        width: 30rem;
        padding-bottom: 1rem;
        @include text-style;
        text-align: left;
    }
    &__container {
        width: 30rem;
    }
    &__input {
        width: 67%;
        @include text-style;
        border: 3px solid $primary-color;
    }
    &__button {
        width: 9rem;
        @include text-style;
        color: white;
        cursor: pointer;
        &--check {
            background: $first-btn-color;
            border: 2px solid $first-btn-darker;
        }
        &--replay {
            background: $second-btn-color;
            border: 2px solid $second-btn-darker;
        }
    }
    &__clue {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15rem; height: 5rem;
        font-family: $main-font;
        font-size: 32px;
        color: $secondary-color;
        border: 2px dashed $secondary-color;
        margin: 2.5rem 0;
        &--won {
            color: $first-btn-color;
            border: 2px dashed $first-btn-color;
        }
    }
    &__score {
        @include text-style;
        margin-bottom: 2.5rem;
        &--hidden {
            display: none;
        }
    }
}