@use 'settings/variables' as vars;
@use 'settings/mixins' as mixins;

@use 'modules/main-box';
@use 'modules/history';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: vars.$main-bg-color;
    margin: 0;
}