body {
  display: flex;
  justify-content: center;
  background: #F7F5FB;
  margin: 0;
  padding-top: 5rem;
}

.box {
  width: 60%;
  background: #ADF5FF;
  border: 10px solid white;
  border-radius: 50px;
  box-shadow: 0px 0px 24px rgba(3, 7, 18, 0.2);
}
.box__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0091AD;
  border-radius: 40px 40px 0 0;
  padding: 1rem;
  gap: 2rem;
}
.box__image {
  width: 4rem;
  height: 4rem;
}
.box__title {
  font-family: "Press Start 2P";
  font-size: 32px;
  color: white;
}
.box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.box__label {
  width: 30rem;
  padding-bottom: 1rem;
  font-family: "Goldman";
  font-size: 24px;
  text-align: left;
  -moz-appearance: textfield;
       appearance: textfield;
  -webkit-appearance: none;
}
.box__container {
  width: 30rem;
}
.box__input {
  width: 20rem;
  font-family: "Goldman";
  font-size: 24px;
  text-align: center;
  border: 3px solid #0091AD;
}
.box__input--error {
  color: white;
  background: #FC5130;
  border-color: #c32203;
}
.box__button {
  position: relative;
  bottom: 3px;
  width: 9rem;
  font-family: "Goldman";
  font-size: 24px;
  cursor: pointer;
}
.box__button--check {
  color: white;
  background: #7DC95E;
  border: 2px solid #4c9130;
  box-shadow: 0px 4px 0px #4c9130;
}
.box__button--replay {
  color: white;
  background: #772D8B;
  border: 2px solid #35143e;
  box-shadow: 0px 4px 0px #35143e;
}
.box__button:active {
  transform: translateY(4px);
  box-shadow: none;
}
.box__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 8rem;
  padding: 1.5rem;
  box-sizing: border-box;
  font-family: "Goldman";
  font-size: 24px;
  color: #772D8B;
  border: 2px dashed #772D8B;
  margin: 2.5rem 0;
}
.box__text--clue {
  font-size: 36px;
  color: #FC5130;
  border: 2px dashed #FC5130;
}
.box__text--won {
  font-size: 28px;
  color: #7DC95E;
  border: 2px dashed #7DC95E;
}
.box__credit {
  position: relative;
  left: 3.5rem;
  bottom: 0.5rem;
  font-family: "Goldman";
  font-size: 12px;
  color: black;
}