body {
  display: flex;
  justify-content: center;
  background: #F7F5FB;
  margin: 0;
  padding-top: 5rem;
}

.box {
  width: 60%;
  background: #ADF5FF;
  border: 10px solid white;
  border-radius: 50px;
  box-shadow: 0px 0px 24px rgba(3, 7, 18, 0.2);
}
.box__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0091AD;
  border-radius: 40px 40px 0 0;
  padding: 1rem;
  gap: 2rem;
}
.box__image {
  width: 4rem;
  height: 4rem;
}
.box__title {
  font-family: "Press Start 2P";
  font-size: 32px;
  color: white;
}
.box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.box__label {
  width: 30rem;
  padding-bottom: 1rem;
  font-family: "Goldman";
  font-size: 24px;
  text-align: left;
}
.box__container {
  width: 30rem;
}
.box__input {
  width: 67%;
  font-family: "Goldman";
  font-size: 24px;
  border: 3px solid #0091AD;
}
.box__button {
  width: 9rem;
  font-family: "Goldman";
  font-size: 24px;
  color: white;
  cursor: pointer;
}
.box__button--check {
  background: #7DC95E;
  border: 2px solid #4c9130;
}
.box__button--replay {
  background: #772D8B;
  border: 2px solid #35143e;
}
.box__clue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  font-family: "Goldman";
  font-size: 32px;
  color: #FC5130;
  border: 2px dashed #FC5130;
  margin: 2.5rem 0;
}
.box__clue--won {
  color: #7DC95E;
  border: 2px dashed #7DC95E;
}
.box__score {
  font-family: "Goldman";
  font-size: 24px;
  margin-bottom: 2.5rem;
}
.box__score--hidden {
  display: none;
}