.box {
  width: 60%;
  background: #ADF5FF;
  border: 10px solid white;
  border-radius: 50px;
  box-shadow: 0px 0px 24px rgba(3, 7, 18, 0.2);
  overflow: hidden;
  margin-top: 5rem;
}
@media (max-width: 768px) {
  .box {
    width: 90%;
    margin-top: 2rem;
  }
}
.box__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0091AD;
  padding: 1rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  .box__header {
    flex-direction: column;
    gap: 0;
  }
}
.box__image {
  width: 4rem;
  height: 4rem;
}
.box__title {
  font-family: "Press Start 2P";
  font-size: 32px;
  color: white;
  margin: 1rem 0;
}
@media (max-width: 768px) {
  .box__title {
    font-size: 24px;
    text-align: center;
    line-height: 32px;
    margin: 1rem 0 0;
  }
}
.box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.box__form {
  width: 30rem;
}
.box__label {
  width: 100%;
  font-family: "Goldman";
  font-size: 24px;
  text-align: left;
}
@media (max-width: 768px) {
  .box__label {
    width: 90%;
    text-align: center;
  }
}
.box__container {
  width: 100%;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .box__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
  }
}
.box__input {
  width: 20rem;
  font-family: "Goldman";
  font-size: 24px;
  text-align: center;
  border: 3px solid #0091AD;
}
@media (max-width: 768px) {
  .box__input {
    width: 100%;
  }
}
.box__input--error {
  color: white;
  background: #FC5130;
  border-color: rgb(195.1714285714, 33.9428571429, 2.8285714286);
}
.box__button {
  position: relative;
  bottom: 3px;
  width: 9rem;
  font-family: "Goldman";
  font-size: 24px;
  cursor: pointer;
}
.box__button--check {
  color: white;
  background: #7DC95E;
  border: 2px solid rgb(76.3023255814, 144.5255813953, 48.4744186047);
  box-shadow: 0px 4px 0px rgb(76.3023255814, 144.5255813953, 48.4744186047);
}
.box__button--replay {
  color: white;
  background: #772D8B;
  border: 2px solid rgb(53.0326086957, 20.0543478261, 61.9456521739);
  box-shadow: 0px 4px 0px rgb(53.0326086957, 20.0543478261, 61.9456521739);
}
.box__button:active, .box__button--active {
  transform: translateY(4px);
  box-shadow: none;
}
.box__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 8rem;
  padding: 1.5rem;
  box-sizing: border-box;
  font-family: "Goldman";
  font-size: 24px;
  color: #772D8B;
  border: 2px dashed #772D8B;
  margin: 2.5rem 0;
}
@media (max-width: 768px) {
  .box__text {
    width: 100%;
  }
}
.box__text--clue {
  font-size: 36px;
  color: #FC5130;
  border: 2px dashed #FC5130;
}
.box__text--won {
  font-size: 28px;
  color: #7DC95E;
  border: 2px dashed #7DC95E;
}
.box__credit {
  position: relative;
  left: 3.5rem;
  bottom: 0.5rem;
  font-family: "Goldman";
  font-size: 12px;
  color: black;
}
@media (max-width: 768px) {
  .box__credit {
    left: 0;
    bottom: 0;
    top: 3.5rem;
    display: flex;
    justify-content: center;
  }
}

.history {
  position: absolute;
  top: 10rem;
  left: 75rem;
  width: 20.25rem;
  max-height: 20.75rem;
  background: rgb(202.8940217391, 143.5733695652, 218.9266304348);
  border: 10px solid white;
  border-radius: 50px;
  box-shadow: 0px 0px 24px rgba(3, 7, 18, 0.2);
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 250ms ease-in-out;
}
.history--hidden {
  transform: scale(0);
}
.history__title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #772D8B;
  width: 100%;
  font-family: "Press Start 2P";
  font-size: 24px;
  color: white;
  padding: 1.5rem 2rem;
  margin: 0;
  box-sizing: border-box;
}
.history__list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.history__item {
  width: 100%;
  height: 2.5rem;
  padding: 0.25rem 0;
  box-sizing: border-box;
  font-family: "Goldman";
  font-size: 24px;
  text-align: center;
  border-top: 2px solid white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F5FB;
  margin: 0;
}